@model PetShop.Data.Model.Animal

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />

<div class="row">
    <div class="imgName">
        <div><img src=@Url.Content(@Model.PhotoUrl) /></div>

        <div style="font-weight: bold;"> @Html.DisplayFor(model => model.Name)</div>
    </div>
    <div class="details">
        <div class="description">@Html.DisplayFor(model => model.Description)</div>
        <div>
            @Html.DisplayNameFor(model => model.BirthDate):
            @Html.DisplayFor(model => model.BirthDate)
        </div>
        <div>@Html.DisplayFor(model => model.Category.Name)</div>
    </div>
    <div>
        <form asp-action="AddComment" id="addcomment" asp-all-route-id="@Model?.AnimalId">
            <input type="hidden" asp-for="AnimalId" />
            <textarea id="textArea" class="form-control" rows=3 name="myComment" placeholder="Enter your comment"></textarea>
            <input class="btn btn-outline-secondary" type="submit" id="btnClick" value="Add Comment" />
        </form>
    </div>
    <div>
        <h2>Comments:</h2>
        @foreach (var comment in ViewBag.CommentsAnimal)
        {
            <ul>
                <li>
                    @comment.Content
                </li>
            </ul>
        }
    </div>
</div>



