@model PetShop.Data.Model.Animal

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
<h1>Details about @Model.Name</h1>

<div>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </dt>
            <dd class="col-sm-10">
                <img src=@Url.Content(@Model.PhotoUrl) />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

        </dl>
    </div>
    <div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <form asp-action="AddComment" id="addcomment" asp-all-route-id="@Model?.AnimalId">
            <textarea type="text" id="Content" class="form-control" rows=3 name="content" placeholder="Enter your comment"></textarea>
            <input type="submit" value="AddComment" />
        </form>
    </div>
    <div>
    </div>
    @foreach (var comment in Model.Comments)
    {
        <div class="form-group">
            <label asp-for="@comment.CommentId" class="control-label"></label>
            <input asp-for="@comment.CommentId" class="form-control" />
        </div>
    }
</div>



