@model PetShop.Data.Model.Animal

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />
<h3>Are you sure you want to delete @Model.Name ?</h3>
<hr />
<div class="row">
    <div class="imgName">
        <div><img src=@Url.Content(@Model.PhotoUrl) /></div>

        <div style="font-weight: bold;"> @Html.DisplayFor(model => model.Name)</div>
    </div>
    <div class="details">
        <div class="description">@Html.DisplayFor(model => model.Description)</div>
        <div>
            @Html.DisplayNameFor(model => model.BirthDate):
            @Html.DisplayFor(model => model.BirthDate)
        </div>
        <div>@Html.DisplayFor(model => model.Category.Name)</div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AnimalId" />
        <a style="font-size:18px;" class="btn btn-sm btn-outline-secondary" asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
